@model DSM.Models.Entities.User

<div class="container py-5">

    <div class="card shadow-lg border-0 rounded-4">

        <div class="card-body p-5">

            <h1 class="fw-bold text-primary mb-4">

                My Profile

            </h1>

            <hr />

            <h4>
                Name :
                @Model.Name
            </h4>

            <h4>
                Email :
                @Model.Email
            </h4>

            <h4>
                Phone :
                @Model.Phone
            </h4>

            <h4>
                Address :
                @Model.Address
            </h4>

        </div>

    </div>

</div>